@charset "UTF-8";

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background-color: #007bff;
    background: linear-gradient(to right, rgb(0, 85, 197), rgb(77, 177, 243));
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .text-recup{
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  #logo{
    height: 200px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
  /*FIM AJUSTES TELAS DE LOGIN E REDEFINIR SENHA*/

  /*AJUSTES NAVBAR +BACKGROUND BODY*/

  .icon-nav-bar{
    height: 40px;
    width: auto;
    margin-right: 15px;
  }

  nav{
    width: 100%;
  }

  /*FIM AJUSTES NAVBAR*/

  /*AJUSTES CONTEUDO*/

  #conteudo{
    background-color: #f8f9fa;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 180px;
    margin-left: 180px;
  }


  .sub-conteudo{
    background-color: #f8f9fa;
  }

  #body{
    padding: 40px;
  }

  /*FIM AJUSTES BODY*/

  label{
    font-weight: bold;
  }

  #body-search{
    display: block;
    height: 100%;
  }

  .livros{
    margin: 5px;
    width: 26rem;
    display: inline-flex;
    float: left;
  }

  .alerta{
    color: red;
  }

  .identificador {
    text-align: center;
    opacity: 60%;
  }
  .btn-margin{
    margin: 3px;
  }

  #modalManutencao, #modalAviso, #modalExcluirExemplar{
    display: none;
  }




